<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- start css file -->
    <link rel="stylesheet" href="../static/css/index.css" />
    <!-- end css file -->
    <title>Awesome bookks</title>
  </head>
  <body>
    <main>
      <h1>Awesome Books</h1>
      <div class="books-container">
      </div>
      <div class="books-form">
        <form action="">
          <input type="text" name="title" id="title" placeholder="Title">
          <br>
          <input type="text" name="author" id="author" placeholder="Author">
          <br>
          <input type="submit" value="Add" id="addButton">
        </form>
      </div>
    </main>
    <!-- start js file -->
    <script src="../static/js/index.js"></script>
    <!-- end js file -->
  </body>
</html>
